@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #00674f;
}

.roboto-sub-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #00674f;
}
body {
  background-color: #1e4b9c;
}
header {
  border-radius: 12px;
  position: relative;
}
header img{
  width: 100%;
  height: auto;
}
header>div{
  position:absolute;
  top:8.5vw;
  left:3vw;
  z-index:50;
  max-width:30%
}
nav{
  position:absolute;
  top:1.8%;
  left:2.8%;
  right:2.8%;
  height:2.6%;
  z-index:50;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:rgba(228,228,228,0.5);
  border-radius:20px;
}
nav a{
  margin:0;
  color:#00674f;
  margin-left:73px;
  margin-right:73px;
  font-size: 1.5em;
}
main{
  background-color: #e4e4e4;
  margin:1.823vw 1.823vw 1.823vw 1.823vw;
  border-radius:20px;
  padding:55px;

}
main img{
  width: 506px;
  height: 355px;
  

}
img{
  border-radius:20px;
}
main>div{
  background-color:white;
  padding:50px;
  border-radius:20px;
  margin-bottom:55px;
  display:flex;
  flex-direction:row;

}
main>div>div{
  margin-left:171px;
}
h3{
  font-size: 2.5em;
  margin-top:0;
  color:#00674f;
}
main>div>div>p{
  font-size:2em;
}
section{
  background-color:white;
  padding:50px;
  border-radius:20px;
  margin-bottom:55px;
}
