@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.robotoTitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 8em;
  color: #00674F;
}

.robotoSubTitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #00674F;
}
img {
  border-radius: 20px;
}
body {
  background-color: #1E4B9C;
  margin: 0;
}
header {
  position: relative;
  margin: 1.823vw;
}
header img {
  width: 100%;
  height: auto;
  display: block;
}
nav {
  position: absolute;
  top: 1.823vw;
  left: 2.865vw;
  right: 2.865vw;
  height: 2.656vw;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 20px;
}
nav a {
  margin: 0;
  color: #00674F;
  margin-left: 73px;
  margin-right: 73px;
  font-size: 1.5em;
}
header > div {
  position: absolute;
  top: 8.5vw;
  left: 3vw;
  z-index: 40;
  max-width: 30%;
}
div > h3 {
  font-size: 2.5em;
  margin-top: 0;
}
h1 {
  margin: 0;
}
main {
  background-color: #E4E4E4;
  margin: 0 1.823vw 1.823vw 1.823vw;
  border-radius: 20px;
}
main img {
  width: 506px;
  height: 355px;
}
main>div {
  margin: 55px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
}
main>div>div {
  margin-left: 171px;
}
main>div>div>p {
  font-size: 2em;
}