@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.robotoTitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 8em;
}

.robotoSubTitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
  box-sizing: border-box;
}
img {
  border-radius: 20px;
}
body {
  background-color: #1E4B9C;
  margin: 0;
}
header {
  position: relative;
  margin: 1.823vw;
  border-radius: 20px;
}
header img {
  width: 100%;
  height: auto;
  display: block;
}
nav {
  position: absolute;
  top: 1.823vw;
  left: 2.865vw;
  right: 2.865vw;
  height: 2.656vw;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 20px;
}
nav a {
  margin: 0 73px;
  color: #00674F;
  font-size: 1.5em;
}
header > div {
  position: absolute;
  top: 8.5vw;
  left: 3vw;
  z-index: 40;
  max-width: 30%;
}
div > h3 {
  font-size: 2.5em;
  margin-top: 0;
  color: #00674F;
}
h1 {
  margin: 0;
  color: #00674F;
}
h4 {
  margin: 0;
}
main {
  background-color: #E4E4E4;
  margin: 0 1.823vw 1.823vw 1.823vw;
  border-radius: 20px;
  padding: 55px;
}
main img {
  width: 506px;
  height: 355px;
}
main>div {
  margin-bottom: 55px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
}
main>div>div {
  margin-left: 171px;
}
main>div>div>p {
  font-size: 2em;
}
main section {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 75px 55px;
}
main section div {
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;
}
main section div>div {
  display: flex;
  flex-direction: column;
}
main section h4 {
  font-size: 2em;
}
main section p {
  font-size: 1.5em;
}
main section ol {
  font-size: 1.5em;
}
.imageLeft {
  padding-left: 227px;
}
.imageRight{
  padding-right: 227px;
}
span {
  font-weight: bold;
}
footer {
  background-color: #E4E4E4;
  border-radius: 20px;
  margin: 0 1.823vw 1.823vw 1.823vw;
  font-size: 1.5em;
  padding: 20px 0;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
footer section p {
  margin: 0;
}
.footerName {
  padding: 0;
  margin: 0;
  width: 7%;
}
.footerName p:first-child {
  font-weight: 700;
  font-size: 30px;
}
.footerName p:last-child {
  font-style: italic;
}
header, main, footer {
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
}